In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('problem2data.xlsx')
data

,student_id,work_experience,entrance_score,college_gpa,absence,hometown_id,course_grade
0,18865961,0,72,4.0,2,48,D
1,83400910,1,65,2.5,6,45,D
2,40962872,1,46,2.0,5,3,C
3,67656558,0,17,1.0,4,21,B
4,30092612,0,49,2.0,0,37,F
5,38500415,1,64,3.9,6,8,C
6,11863658,0,44,3.6,6,51,F
7,35566680,0,52,1.0,0,50,B
8,17100059,0,52,3.9,3,4,C
9,60138076,1,49,4.0,1,7,F
10,19610905,1,77,3.2,5,54,F
11,33539313,1,24,2.2,2,44,D
12,84067775,0,55,2.0,3,61,F
13,13055461,1,76,3.5,0,33,C
14,58162191,1,63,1.1,7,24,B
15,44804301,0,27,3.8,4,61,B
16,89019328,1,34,2.3,2,2,A
17,81135968,0,45,3.2,4,4,A
18,31375787,1,68,3.7,4,12,C
19,48499813,1,31,1.6,1,34,C
20,21243117,0,21,4.0,0,36,B
21,50810073,1,24,2.6,7,49,A
22,83527980,1,90,3.6,0,4,C
23,39406507,1,53,1.8,4,4,B
24,67697584,1,55,3.2,4,16,C
25,38098792,0,46,2.2,3,48,A
26,93769084,1,62,3.0,2,42,C
27,50721136,1,46,1.9,0,45,C
28,52482585,1,60,2.4,2,46,B
29,33026824,1,64,3.7,0,12,B
...,...,...,...,...,...,...,...
10049,94989337,0,45,2.5,3,16,B
10050,88587735,1,90,3.7,6,7,B
10051,84569136,1,67,3.9,1,58,C
10052,75298698,1,21,2.4,6,53,F
10053,42722272,1,62,1.3,6,19,B
10054,56808651,1,85,3.4,7,25,A
10055,50698133,1,57,2.5,7,49,C
10056,19593414,1,50,1.7,0,54,B
10057,14898647,0,54,3.9,6,29,C
10058,93812604,0,58,3.9,4,54,C
10059,62678668,1,46,3.3,6,15,C
10060,84439729,0,23,1.7,0,36,B
10061,55469161,0,29,1.6,1,19,F
10062,36405825,1,54,2.9,6,47,C
10063,24304042,1,37,3.9,1,50,D
10064,44666501,0,25,1.9,1,8,C
10065,62719000,1,70,3.2,4,24,C
10066,31072798,0,68,2.7,4,24,B
10067,58750681,1,58,3.1,2,57,B
10068,73545311,0,28,2.1,7,25,B
10069,30947091,1,30,3.2,2,18,B
10070,74037542,0,56,3.8,5,61,B
10071,13217563,0,27,1.5,2,7,C
10072,91601317,1,45,3.4,7,20,D
10073,93133795,1,70,2.8,4,24,A
10074,33848437,0,56,3.6,6,21,C
10075,88317403,0,53,3.8,0,7,C
10076,28032897,1,37,2.3,7,52,F
10077,48738334,1,65,2.1,0,39,B
10078,61659474,1,68,3.0,6,36,D

In [3]:
bins = [0,40,80,np.inf]
names = ['Poor','Average','Good']
data['entrance_score_range'] = pd.cut(data['entrance_score'], bins, labels = names)
data

,student_id,work_experience,entrance_score,college_gpa,absence,hometown_id,course_grade,entrance_score_range
0,18865961,0,72,4.0,2,48,D,Average
1,83400910,1,65,2.5,6,45,D,Average
2,40962872,1,46,2.0,5,3,C,Average
3,67656558,0,17,1.0,4,21,B,Poor
4,30092612,0,49,2.0,0,37,F,Average
5,38500415,1,64,3.9,6,8,C,Average
6,11863658,0,44,3.6,6,51,F,Average
7,35566680,0,52,1.0,0,50,B,Average
8,17100059,0,52,3.9,3,4,C,Average
9,60138076,1,49,4.0,1,7,F,Average
10,19610905,1,77,3.2,5,54,F,Average
11,33539313,1,24,2.2,2,44,D,Poor
12,84067775,0,55,2.0,3,61,F,Average
13,13055461,1,76,3.5,0,33,C,Average
14,58162191,1,63,1.1,7,24,B,Average
15,44804301,0,27,3.8,4,61,B,Poor
16,89019328,1,34,2.3,2,2,A,Poor
17,81135968,0,45,3.2,4,4,A,Average
18,31375787,1,68,3.7,4,12,C,Average
19,48499813,1,31,1.6,1,34,C,Poor
20,21243117,0,21,4.0,0,36,B,Poor
21,50810073,1,24,2.6,7,49,A,Poor
22,83527980,1,90,3.6,0,4,C,Good
23,39406507,1,53,1.8,4,4,B,Average
24,67697584,1,55,3.2,4,16,C,Average
25,38098792,0,46,2.2,3,48,A,Average
26,93769084,1,62,3.0,2,42,C,Average
27,50721136,1,46,1.9,0,45,C,Average
28,52482585,1,60,2.4,2,46,B,Average
29,33026824,1,64,3.7,0,12,B,Average
...,...,...,...,...,...,...,...,...
10049,94989337,0,45,2.5,3,16,B,Average
10050,88587735,1,90,3.7,6,7,B,Good
10051,84569136,1,67,3.9,1,58,C,Average
10052,75298698,1,21,2.4,6,53,F,Poor
10053,42722272,1,62,1.3,6,19,B,Average
10054,56808651,1,85,3.4,7,25,A,Good
10055,50698133,1,57,2.5,7,49,C,Average
10056,19593414,1,50,1.7,0,54,B,Average
10057,14898647,0,54,3.9,6,29,C,Average
10058,93812604,0,58,3.9,4,54,C,Average
10059,62678668,1,46,3.3,6,15,C,Average
10060,84439729,0,23,1.7,0,36,B,Poor
10061,55469161,0,29,1.6,1,19,F,Poor
10062,36405825,1,54,2.9,6,47,C,Average
10063,24304042,1,37,3.9,1,50,D,Poor
10064,44666501,0,25,1.9,1,8,C,Poor
10065,62719000,1,70,3.2,4,24,C,Average
10066,31072798,0,68,2.7,4,24,B,Average
10067,58750681,1,58,3.1,2,57,B,Average
10068,73545311,0,28,2.1,7,25,B,Poor
10069,30947091,1,30,3.2,2,18,B,Poor
10070,74037542,0,56,3.8,5,61,B,Average
10071,13217563,0,27,1.5,2,7,C,Poor
10072,91601317,1,45,3.4,7,20,D,Average
10073,93133795,1,70,2.8,4,24,A,Average
10074,33848437,0,56,3.6,6,21,C,Average
10075,88317403,0,53,3.8,0,7,C,Average
10076,28032897,1,37,2.3,7,52,F,Poor
10077,48738334,1,65,2.1,0,39,B,Average
10078,61659474,1,68,3.0,6,36,D,Average

In [5]:
grouped = data.groupby('entrance_score_range')

In [8]:
grouped['course_grade'].apply(lambda x: pd.Series.value_counts(x)/len(x))

entrance_score_range
Poor                  C    0.302303
                      B    0.224671
                      D    0.208553
                      F    0.155263
                      A    0.109211
Average               C    0.310226
                      B    0.233383
                      D    0.202707
                      A    0.136692
                      F    0.116992
Good                  C    0.295630
                      B    0.241645
                      D    0.205656
                      A    0.169666
                      F    0.087404
Name: course_grade, dtype: float64